<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!--<script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>-->
    <script src = "js/angular.min.js"></script>
    <script src = "js/ng-app.js"></script>

    <title>Parctices for Ajguraljs</title>
</head>
<body ng-app = "myApp" ng-controller="myController">
    <div class="container">
        <div style="padding: 4em 0;">
            <div class="row">
                <div class="col-sm-6">
                    <h3>User List</h3>
                </div>

                <div class="col-sm-6">
                    <div class="text-right">
                        <button class="btn btn-success" data-toggle="modal" data-target="#myModal">Add User</button>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">
                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">User Registration</h4>
                                </div>
                                <div class="modal-body">
                                    <form action="">
                                        <div class="form-group">
                                            <label>User Name</label>
                                            <input class="form-control" type="text" ng-model = "newUser.username" />
                                        </div>

                                        <div class="form-group">
                                            <label>Full Name</label>
                                            <input class="form-control" type="text" ng-model = "newUser.fullName" />
                                        </div>

                                        <div class="form-group">
                                            <label>Email</label>
                                            <input class="form-control" type="text" ng-model = "newUser.email" />
                                        </div>

                                        <div class="form-group">
                                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="saveUser()">Save</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <br>

            <div class="alert alert-success alert-dismissible fade in" ng-if="message">
                <a href="#" class="close" ng-click="clearMessage()" aria-label="close">&times;</a>
                {{message}}
            </div>


            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#SL</th>
                    <th>User Name</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th class="text-right">Actions</th>
                </tr>
                </thead>
                <tbody>

                <tr ng-repeat="user in users">
                    <td>{{$index+1}}</td>
                    <td>{{user.username}}</td>
                    <td>{{user.fullName}}</td>
                    <td>{{user.email}}</td>
                    <td class="text-right">
                        <a class="btn btn-info" data-toggle="modal" data-target="#myModalEdit" href="" ng-click="selectUser(user)">Edit</a>
                        <a class="btn btn-danger" data-toggle="modal" data-target="#myModalDelete" href="javascript:void(0)" ng-click="selectUser(user)">Delete</a>
                    </td>
                </tr>

                </tbody>
            </table>


            <div class="modal fade" id="myModalEdit" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">User Update</h4>
                        </div>
                        <div class="modal-body">
                            <form action="">
                                <div class="form-group">
                                    <label>User Name</label>
                                    <input class="form-control" type="text" ng-model="clickedUser.username" />
                                </div>

                                <div class="form-group">
                                    <label>Full Name</label>
                                    <input class="form-control" type="text" ng-model="clickedUser.fullName" />
                                </div>

                                <div class="form-group">
                                    <label>Email</label>
                                    <input class="form-control" type="text" ng-model="clickedUser.email" />
                                </div>

                                <div class="form-group">
                                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="userUpdate()">Update</button>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>

            <div class="modal fade" id="myModalDelete" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Are you sure?</h4>
                        </div>
                        <div class="modal-body">
                           <strong style="color:red;">Your going to delete {{ clickedUser.username }} all information.....</strong>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="deleteUser()">Yes</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

<script src="js/jquery.min.js" ></script>
<script src="js/bootstrap.min.js" ></script>
</body>
</html>